### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
*.elc
auto-save-list
tramp
.\#*

# elpa packages
/elpa/
/transient/
/.cache/
/workspace/
/url/
/projects
/eclipse.jdt.ls/
/.lsp-session-v1
/.dap-breakpoints
